section{

    width:100%;
}

.hero{
    height:100vh;
    display: flex;
    max-width: 100%;
    padding: 0 30px;
    color: #fff;
    background:url(../Images/hero.jpg)no-repeat center center fixed; 
    background-size: cover;
  }
  .hero div{
  max-width:100vw;
    color:#fff;

  }

  .hero h1{
      font-size:6rem;
  }

  .hero h3{
      font-size:3rem;
  }
  .overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:rgba(0,0,0,0.6);
    color:white;
    opacity: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
} 